.postContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

@media (max-width:700px) {
    .postContainer {
        width: 90vmin;
    }
}

.postBox {
    width: 90%;
    display: flex;
    flex-direction: column;
    /* margin-top: 10px; */
    gap: 0.5em;
    /* align-items: center; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.207);
    margin-bottom: 20px;
    /* background-color: aqua; */
    /* justify-content: space-between; */
}

.NoPostAnimation {
    width: 450px;
    /* height: 2; */
}

@media(max-width:444px) {
    .NoPostAnimation {
        width: 400px;
    }
}

@media(max-width:347px) {
    .NoPostAnimation {
        width: 350px;
    }
}

.NoPostText {
    font-size: 18px;
    opacity: 0.8;
    font-weight: bold;
}

@media(max-width:291px) {
    .NoPostAnimation {
        width: 300px;
    }

    .NoPostText {
        font-size: 15px;
    }
}

@media(max-width:271px) {
    .NoPostAnimation {
        width: 250px;
    }
}




.postDiv1 {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0.5em;

}

.User_ProfilePhoto {
    height: 40px;
    width: 40px;
    border-radius: 25px;
    cursor: pointer;
}

.user_name {
    background-color: transparent;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.user_name span:nth-child(2) {
    font-size: 10px;
    font-weight: 600;
    opacity: 0.8;
}

.postOption {
    margin-left: auto;
    display: flex;
    gap: 0.5em;
    opacity: 0.8;
}

.postDiv2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-color: aquamarine; */
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.18); */
    /* padding-bottom: 10px; */
}

.user_postedPhoto {
    /* max-height: 450px; */
    height: auto;
    width: 85%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.PostCaption {
    font-size: small;
    font-weight: 600;
}

@media (max-width:300px) {
    .PostCaption {
        font-size: x-small;
        font-weight: 600;
    }
}

.postDiv3 {
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;

}

@media(max-width:300px) {
    .postDiv3 {
        padding: 10px;
        width: 100%;
    }
}

.LikeIcon {}

.LikeIcon:hover {
    opacity: 0.7;
    cursor: pointer;
}

.CommentIcon {}

.CommentIcon:hover {
    opacity: 0.7;
    cursor: pointer;
}

.shareIcon {}

.shareIcon:hover {
    opacity: 0.7;
    cursor: pointer;
}

.postOptions1 {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* background-color: aqua; */
    width: 100px;
    align-items: center;
    gap: 0.5em;
    align-items: center;
}

.postOptions2 {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    width: 200px;
    align-items: center;
    gap: 0.5em;
    align-items: center;
}

.PostInfo {
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    /* opacity: 0.8; */
}

/* .PostInfo:hover {
    font-weight: 550;
    border-bottom: 1px solid rgba(0, 0, 0, 0.474);
} */

@media(max-width:340px) {
    .postOptions1 {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .postOptions2 {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .PostInfo {
        font-size: x-small;
    }
}