.HomeContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: var(--BACKGROUND-COLOR);
}

.Logo_Image {
    height: 40px;
    width: 40px;
}

.homeOptionContainer {
    position: sticky;
    top: 50;
    height: 100vh;
    display: flex;
    align-items: center;
    width: 20vw;
    flex-direction: column;
    gap: 1vmax;
    padding-top: 10px;
    /* background-color: var(--BACKGROUND-COLOR); */
}

@media (max-width: 500px) {
    .homeOptionContainer {
        display: none;
    }
}

.HomeMainContainer {
    /* margin-top: 10px; */
    display: flex;
    align-items: stretch;
    /* justify-content: center; */
    flex-direction: column;
    /* margin-left: 25vw; */
    width: 90vmin;
    /* height: 100vh; */
    /* background-color: blueviolet; */

}

@media (max-width: 700px) {
    .HomeMainContainer {
        margin-left: 0;
        width: 100%;
        align-items: center;
    }
}

@media (max-width: 654px) {
    .HomeMainContainer {
        margin-left: 0;
        width: 90%;
        align-items: center;
    }
}

@media (max-width:850px) {
    .HomeContainer {
        justify-content: space-around;
    }
}

@media (max-width: 654px) {
    .HomeMainContainer {
        margin-left: 0;
        width: 80%;
        align-items: center;
    }
}


.HomePostDiv1 {
    display: flex;
    /* background-color: aqua; */
    align-items: center;
    gap: 1rem;
    height: 60%;
}

.HomePostContainer {
    display: flex;
    flex-direction: column;
    width: 90vmin;
    height: 120px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    /* box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); */
    box-shadow: -7px -5px 35px 6px rgba(0, 0, 0, 0.1);
    /* gap: 1em; */
    margin-top: 10px;

}

@media (max-width:700px) {
    .HomePostContainer {
        width: 100%;
        align-self: center;
    }


}

.HomepostuserImage {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;


}

.HomepostuserImagelogo {
    width: 40px;
    height: 40px;
    border-radius: 25px;

}

.HomepostType {
    background-color: rgb(237, 239, 240);
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 10px;
    opacity: 0.7;
    cursor: pointer;
    font-weight: 500;
}

.HomepostType:hover {
    background-color: rgb(218, 217, 217);
}

.iconBox {
    display: flex;
    gap: 0.5em;
    width: 80%;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    /* background-color: var(--BACKGROUND-COLOR); */
}

.iconBox:hover {
    background-color: rgb(240, 241, 243);
    /* background-color: rgb(237, 239, 245); */
}

.iconImage {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: var(--BACKGROUND-COLOR);
}


@media (max-width:1194px) {
    .titleText {
        display: none;
    }

    .iconImage {
        height: 35px;
        width: 35px;
        border-radius: 30px;
    }

    .HomeContainer {
        justify-content: space-around;
    }
}

@media (max-width:952px) {
    .titleText {
        font-size: small;
    }
}

.HomePostArrayBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
}

.HomePostArrayBox:hover {
    background-color: rgb(237, 239, 240);
}

.HomePostArrayIcon {
    height: 15px;
    width: 15px;
}

.HomePostArrayTitle {
    font-size: small;
    font-weight: 600;
    background-color: transparent;
    opacity: 0.7;
}

@media (max-width: 400px) {
    .HomePostArrayTitle {
        font-size: 7px;
        font-weight: 600;

    }
}

.HomePostArrayContainer {
    display: flex;
    justify-content: space-around;
    border-top: 0.5px solid;
    border-color: rgb(229, 227, 227);
    padding-top: 5px;

}




/* HomeDetailCSS */
.home_detail_container {
    width: 55vmin;
}

@media (max-width:920px) {
    .home_detail_container {
        display: none;
    }
}