.HomeContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--BACKGROUND-COLOR);
}

.homeOptionContainer {
    position: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    width: 20vw;
    flex-direction: column;
    gap: 1vmax;
    margin-top: 80px;
    padding-top: 10px;
    /* background-color: var(--BACKGROUND-COLOR); */
}

@media (max-width: 700px) {
    .homeOptionContainer {
        display: none;
    }
}

.HomeMainContainer {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 25vw;
    width: 80vmin;

}

@media (max-width: 700px) {
    .HomeMainContainer {
        margin-left: 0;
        width: 100%;
    }
}


.HomePostDiv1 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.HomePostContainer {
    display: flex;
    flex-direction: column;
    width: 90vmin;
    height: 120px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    /* box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); */
    box-shadow: -7px -5px 35px 6px rgba(0, 0, 0, 0.1);
    gap: 1em;

}

@media (max-width:700px) {
    .HomePostContainer {
        width: 90%;
    }

    .HomeMainContainer {
        margin-left: 0;
    }


}

.HomepostuserImage {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;


}

.HomepostuserImagelogo {
    width: 40px;
    height: 40px;
    border-radius: 25px;

}

.HomepostType {
    background-color: rgb(237, 239, 240);
    height: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 10px;
    opacity: 0.7;
    cursor: pointer;
    font-weight: 500;
}

.HomepostType:hover {
    background-color: rgb(218, 217, 217);
}

.iconBox {
    display: flex;
    gap: 0.5em;
    width: 80%;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    /* background-color: var(--BACKGROUND-COLOR); */
}

.iconBox:hover {
    background-color: rgb(240, 241, 243);
    /* background-color: rgb(237, 239, 245); */
}

.iconImage {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: var(--BACKGROUND-COLOR);
}

.titleText {
    font-size: large;
    /* font-weight: 600; */
    opacity: 0.8;
    background-color: transparent;
}

@media (max-width:840px) {
    .titleText {
        display: none;
    }

    .iconImage {
        height: 40px;
        width: 40px;
        border-radius: 30px;
    }

    /* .HomeMainContainer {
        margin-left: 15vw;
    } */
}

@media (max-width:952px) {
    .titleText {
        font-size: small;
    }
}

.HomePostArrayBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
}

.HomePostArrayBox:hover {
    background-color: rgb(237, 239, 240);
}

.HomePostArrayIcon {
    height: 15px;
    width: 15px;
}

.HomePostArrayTitle {
    font-size: small;
    font-weight: 600;
    background-color: transparent;
    opacity: 0.7;
}

@media (max-width: 400px) {
    .HomePostArrayTitle {
        font-size: 7px;
        font-weight: bold;

    }
}

.HomePostArrayContainer {
    display: flex;
    justify-content: space-around;
    border-top: 0.5px solid;
    border-color: rgb(229, 227, 227);
    padding-top: 5px;

}