.HomeContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--BACKGROUND-COLOR);
}

.homeOptionContainer {
    position: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    width: 20vw;
    flex-direction: column;
    gap: 1vmax;
    margin-top: 80px;
    padding-top: 10px;
    background-color: var(--BACKGROUND-COLOR);
}

.HomeMainContainer {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    height: 100vh;
    margin-left: 25vw;
    width: 80vmin;

}

.HomePostDiv1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* background-color: blue; */


}

.HomePostContainer {
    display: flex;
    flex-direction: column;
    width: 90vmin;
    height: 120px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    /* box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); */
    box-shadow: -7px -5px 35px 6px rgba(0, 0, 0, 0.1);
    gap: 1em;

}

.HomepostuserImage {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;


}

.HomepostuserImagelogo {
    width: 40px;
    height: 40px;

}

.HomepostType {
    background-color: rgb(237, 239, 240);
    height: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 10px;
    opacity: 0.7;
    cursor: pointer;
    font-weight: 500;
}

.HomepostType:hover {
    background-color: rgb(232, 233, 234);
}

.iconBox {
    display: flex;
    gap: 0.5em;
    width: 80%;
    align-items: center;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--BACKGROUND-COLOR);
}

.iconBox:hover {
    background-color: aliceblue;
}

.iconImage {
    height: 20px;
    width: 20px;
    background-color: var(--BACKGROUND-COLOR);
}

.titleText {
    font-weight: 600;
    opacity: 0.8;
    background-color: transparent;
}

.HomePostArrayBox {
    display: flex;
    gap: 5px;
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
}

.HomePostArrayBox:hover {
    background-color: rgb(237, 239, 240);
}

.HomePostArrayIcon {
    height: 15px;
    width: 15px;
}

.HomePostArrayTitle {
    font-size: small;
    font-weight: 600;
    background-color: transparent;
    opacity: 0.7;
}

.HomePostArrayContainer {
    display: flex;
    justify-content: space-around;
    border-top: 0.5px solid;
    border-color: rgb(229, 227, 227);
    padding-top: 5px;

}